body{
    margin: 0;
    padding: 0;
	font-family: Helvetica, Arial, sans-serif;
	background-image: url(/images/espacio_fondo.jpg);
    background-attachment:fixed; 
    font-size: 13px;
	line-height: 1.5em;
}

header{
    width: 100%;
    height: 70px;
    background-color: #e2cae8;
    display: flex;
    justify-content: space-between;
}

header .nav-l{
    /*Eliminar viñetas*/
    list-style:none;
    width: 300px;
    display: flex;
    justify-content: left;
    align-items: center;
    /*Altura automática*/
    height: auto;
}

header .nav-l .logo{
    background-image: url(/images/estrella.png);
    background-repeat: no-repeat;
    width: 40px;
    height: 40px;
    padding-left: 20px;
    /*Contiene a la imagen y adecua el tamaño*/
    background-position: center;
    background-size: contain;
}

header .web-name{
    margin-left: 0;
    font-family: 'Chakra Petch', sans-serif;
    color: #25244A;
    font-size: 20px;
    text-shadow: 2px 2px 4px #CA92D8;
}

header .nav-r{
    display: flex;
    justify-content: right;
}

header .nav-r{
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: center;
}

header .nav-r button{
    margin-right: 25px;
    color: white;
    background: transparent;
    border: 2px solid #392759;
    border-radius: 6px;border: none;
    color: #392759;
    text-align: center;
    display: inline-block;
    font-size: 14px;
    margin: 4px 2px;
    padding: 8px 16px;
    -webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.4s;
    cursor: pointer;
    text-decoration: none;
    font-family: 'Chakra Petch', sans-serif;
    cursor: pointer;

}
header .nav-r button{
    background-color: white; 
    color: black; 
    border: 2px solid #392759;
}

header .nav-r button:hover {
    background-color: #392759;
    color: white;
}


.tittle-intro{
    text-align: center;
    font-size: 35px;
    font-family: 'Bungee Spice', cursive;
    font-family: 'Quantico', sans-serif;
    font-family: 'Raleway', sans-serif;
    color: #ffffff;
    padding-top: 30px;
}

.parrafo-intro{
    font-family: 'Bungee Spice', cursive;
    font-family: 'Quantico', sans-serif;
    font-family: 'Raleway', sans-serif;
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 15px;
    color: rgb(255, 255, 255);
    font-size: 17px;
}

.first-section {
    box-sizing: border-box;
	width: 90%;
	max-width: 1000px;
	margin: 20px auto;
}

.slider-box{
    width: 900px;
    height: 400px;
    margin: 50px auto 50px;
    overflow: hidden;
}

.slider-box ul{
    display: flex;
    padding: 0;
    width: 400%;
    animation: slide 20s infinite alternate ease-in-out;
}

.slider-box li{
    width: 100%;
    list-style: none;
    position: relative;
}

.text {
    /*background-color:#A997DF;*/
    position: absolute;
    padding: 0 10px;
    padding-top: 60px;
    top: 50px;
    color:#ffffff; 
    width: 900px;
    height: 400px;
    text-align: center;
}

.text h2{
    font-size: 75px;
    margin-bottom: 35px;
    font-family: 'Handjet', cursive;
}

.slider-box img{
    width: 100%;
}

@keyframes slide{
    0%{margin-left: 0;}
    20%{margin-left: 0;}

    25%{margin-left: -100%;}
    45%{margin-left: -100%;}

    50%{margin-left: -200%;}
    70%{margin-left: -200%;}

    75%{margin-left: -300%;}
    100%{margin-left: -300%;}
}

.tittle{
    text-align: center;
    font-size: 35px;
    font-family: 'Bungee Spice', cursive;
    font-family: 'Quantico', sans-serif;
    font-family: 'Raleway', sans-serif;
    color: #392F5A;
    text-shadow: 2px 2px 4px #CA92D8;
    padding-top: 30px;
}

.subtitulo{
    font-family: 'Bungee Spice', cursive;
    font-family: 'Quantico', sans-serif;
    font-family: 'Raleway', sans-serif;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 15px;
    padding-bottom: 17px;
    color: rgb(48, 48, 48);
    font-size: 25px;
}

.seccion{
    height: 50px;
    width: 500px;
    background-color: #dab5e4;
}

.seccion-examen{
    height: 50px;
    width: 1000px;
    text-align: center;
    background-color: #bcafe3;
}

.parrafo{
    font-family: 'Bungee Spice', cursive;
    font-family: 'Quantico', sans-serif;
    font-family: 'Raleway', sans-serif;
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 15px;
    color: rgb(48, 48, 48);
    font-size: 17px;
}

.second-section{
    box-sizing: border-box;
    background: #dadce0;
	width: 90%;
	max-width: 1000px;
	margin: 20px auto;
	box-shadow: 0 0 10px rgba(0,0,0,.1);
    border-radius: 3%;
}

.third-section{
    box-sizing: border-box;
    background: #dadce0;
	width: 90%;
	max-width: 1000px;
	margin: 20px auto;
	box-shadow: 0 0 10px rgba(0,0,0,.1);
    border-radius: 3%;
}

.four-section{
    box-sizing: border-box;
    background: #dadce0;
	width: 90%;
	max-width: 1000px;
	margin: 20px auto;
	box-shadow: 0 0 10px rgba(0,0,0,.1);
    border-radius: 3%;
}

.five-section{
    box-sizing: border-box;
    background: #dadce0;
	width: 90%;
	max-width: 1000px;
	margin: 20px auto;
	box-shadow: 0 0 10px rgba(0,0,0,.1);
    border-radius: 3%;
}

.six-section{
    box-sizing: border-box;
    background: #dadce0;
	width: 90%;
	max-width: 1000px;
	margin: 20px auto;
	box-shadow: 0 0 10px rgba(0,0,0,.1);
    border-radius: 3%;
}

label{
    font-family: 'Bungee Spice', cursive;
    font-family: 'Quantico', sans-serif;
    font-family: 'Raleway', sans-serif;
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 30px;
    color: rgb(48, 48, 48);
    font-size: 16.8px
}

.enviar{
    margin-left: 20px;
    margin-top: 20px;
    margin-bottom: 20px;
    background: #eb94d0;
    background-image: -webkit-linear-gradient(top, #eb94d0, #2079b0);
    background-image: -moz-linear-gradient(top, #eb94d0, #2079b0);
    background-image: -ms-linear-gradient(top, #eb94d0, #2079b0);
    background-image: -o-linear-gradient(top, #eb94d0, #2079b0);
    background-image: linear-gradient(to bottom, #eb94d0, #2079b0);
    -webkit-border-radius: 28;
    -moz-border-radius: 28;
    border-radius: 28px;
    text-shadow: 3px 2px 1px #9daef5;
    -webkit-box-shadow: 6px 5px 24px #666666;
    -moz-box-shadow: 6px 5px 24px #666666;
    box-shadow: 6px 5px 24px #666666;
    font-family: Arial;
    color: #fafafa;
    font-size: 15px;
    padding: 19px;
    text-decoration: none;
}

.enviar:hover {
    background: #2079b0;
    background-image: -webkit-linear-gradient(top, #2079b0, #eb94d0);
    background-image: -moz-linear-gradient(top, #2079b0, #eb94d0);
    background-image: -ms-linear-gradient(top, #2079b0, #eb94d0);
    background-image: -o-linear-gradient(top, #2079b0, #eb94d0);
    background-image: linear-gradient(to bottom, #2079b0, #eb94d0);
    text-decoration: none;
  }

  .seccion-boton{
    text-align: center;
  }

label .come{
    width: 800px;
    height: 40px;
}
.come{
    background-color: #d3cde5;
    border: 2px solid #bcafe3; 
    border-radius: 6px;
}

footer{
    width: 100%;
    height: 70px;
    background-color: #e2cae8;
    display: flex;
    justify-content: space-between;
}

footer ul{
    list-style: none;
    font-family: 'Bungee Spice', cursive;
    font-family: 'Quantico', sans-serif;
    font-family: 'Raleway', sans-serif;
    color: rgb(70, 69, 69);
    font-size: 15px;

}
footer .footer-left{
    justify-content: left;
}

footer .footer-right{
    justify-content: right;
    padding-right: 25px;
}
